{{ define "slack.title" }}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}{{ end }}
{{ define "slack.text" }}{{ range .Alerts }}- {{ .Annotations.summary }}
{{ end }}{{ end }}
